html {
    font-family: Arial, Helvetica, sans-serif;
}

#labScreen {
    width: 1264px;
    height: 1008px;
    overflow: hidden;
    /*border: 2px solid red;*/
    font-size: 0;
}

.topSection {
    position: relative;
    height: 70%;
    background-color: #DDDDDD;
    text-align: center;
}

.navigationButton {
    position: absolute;
    bottom: 20px;
    font-size: 24px;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    background-color: #587094;
    border-radius: 5px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, .5)
}

.navigationButton:active {
    box-shadow: 0 2px 2px rgba(0, 0, 0, .5);
    transform: translateY(1px);
}

#previousButton {
    left: 20px;
}

#nextButton {
    right: 20px;
}

.bottomSection {
    position: relative;
    padding: 20px;
    font-size: initial;
    overflow-y: auto;
}

.inlineIcon {
    height: 24px;
    vertical-align: middle;
    position: relative;
    bottom: 2px;
}

h2 {
    margin-top: 30px;
    margin-bottom: -10px;
}

ul.questionUL {
    list-style-type: none;
}

li.question {
    height: 30px;
}

li.question::before {
    content: "●"
}

li.correct {
    height: 30px;
    color: green;
}

li.correct::before {
    content: "✔"
}

li.wrong {
    height: 30px;
    color: red;
}

li.wrong::before {
    content: "✘"
}

.column {
    float: left;
    width: 49.5%;
}

#submitButton {
    position: initial;
    float: right;
    margin: 5px;
    cursor: pointer;
}

ul {
    padding-left: 25px;
}


/* *************************************************
    Popups
   ************************************************* */

   .PopupCover {
    z-index: 9001;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    text-align: center;
}

.PopupWindow {
    position: fixed;
    top: 20%;
    width: 100%;
    font-size: 32px;
    padding: 25px;
    background-color: #FFFFFF;
    text-align: center;
}

.PopupButton {
    margin: 5px;
    margin-left: 10px;
    padding: 10px 15px;
    font-size: inherit;
    outline: none;
    color: #fff;
    background-color: #587094/* #4CAF50;*/
    ;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .5);
}

.PopupButton:hover {
    transform: translateY(-1px);
    box-shadow: 0 3px 6px rgba(0, 0, 0, .5);
}

.PopupButton:active {
    filter: brightness(90%);
    transform: translateY(1px);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .5);
}

#LoginInput {
    outline: none;
    text-align: center;
    font-size: inherit;
    width: 60px;
    border: none;
    border-bottom: 1px solid #AAAAAA
}

#LoginInput::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    margin: 0;
}

#skipTutorialButton {
    display: none;
    font-size: 12px;
    cursor: default;
}

.alertShown {
    display: block;
}