body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 50px;
    font-size: 130%;
}

input,
textarea {
    font-size: 100%;
}

input[type="number"] {
    width: 60px;
    text-align: right;
}

input[type="range"] {
    width: 500px;
    transform: translateY(5px);
}

#templates {
    display: none;
}

h1 {
    margin-top: 60px;
}

h2 {
    margin-top: 40px;
}

table.question {
    border-collapse: collapse;
}

table.question>tbody>tr>td {
    padding: 5px 10px;
    border: 1px solid lightgrey;
}

.hexacoButton {
    display: inline-block;
    text-align: center;
    padding: 0 5px;
}

.playerScoreTR>td {
    text-align: center;
}

.missingAnswer {
    background-color: rgba(255, 0, 0, 0.2);
    border-left: 3px solid rgba(255, 0, 0, 1);
}

button {
    font-size: 24px;
    margin: 50px;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    background-color: #587094;
    border-radius: 5px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, .5)
}

button:active {
    box-shadow: 0 2px 2px rgba(0, 0, 0, .5);
    transform: translateY(1px);
}

#missingAnswersMsg {
    display: none;
    color: red;
}


/* *************************************************
    Popups
   ************************************************* */

.PopupCover {
    z-index: 9001;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    text-align: center;
}

.PopupWindow {
    position: fixed;
    top: 20%;
    width: 100%;
    font-size: 32px;
    padding: 25px;
    background-color: #FFFFFF;
    text-align: center;
}

.PopupButton {
    margin: 5px;
    margin-left: 10px;
    padding: 10px 15px;
    font-size: inherit;
    outline: none;
    color: #fff;
    background-color: #587094/* #4CAF50;*/
    ;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .5);
}

.PopupButton:hover {
    transform: translateY(-1px);
    box-shadow: 0 3px 6px rgba(0, 0, 0, .5);
}

.PopupButton:active {
    filter: brightness(90%);
    transform: translateY(1px);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .5);
}

#LoginInput {
    outline: none;
    text-align: center;
    font-size: inherit;
    width: 60px;
    border: none;
    border-bottom: 1px solid #AAAAAA
}

#LoginInput::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    margin: 0;
}

#skipTutorialButton {
    display: none;
    font-size: 12px;
    cursor: default;
}

.alertShown {
    display: block;
}