* {
    box-sizing: border-box;
}

body {
    background-color: #DDDDDD;
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

#labScreen {
    width: 1264px;
    height: 1008px;
    overflow: hidden;
    background-color: #DDDDDD;
    font-size: 0px;
    text-align: center;
}

#labScreen>* {
    text-align: left;
}

#Templates {
    display: none;
}

#OwnInfo {
    display: inline-block;
    width: 1200px;
    padding: 10px;
    overflow: auto;
    font-size: initial;
    background-color: #888888;
    color: #FFFFFF;
    margin-bottom: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .6);
}

#Timer {
    display: none;
}

#Left,
#Right {
    display: inline-block;
    vertical-align: top;
    font-size: initial;
}

#Left {
    width: 700px;
    padding-right: 20px;
}

#Right {
    width: 500px;
    background-color: #EEEEEE;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .6);
}


/* *************************************************
    Contact Labels
   ************************************************* */

.ContactLabel {
    position: relative;
    margin: 0 0 3px 0;
    padding: 5px;
    border-radius: 3px;
    background-color: #FFFFFF;
}

.ContactLabel:focus {
    outline: none;
    background-color: #EEFFEE;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .5)
}

.ContactLabel>div {
    display: inline-block;
    text-align: center;
}

.ContactLabel>div:nth-child(-n+3) {
    width: 100px;
}

.ContactLabel>div:nth-child(n+4) {
    width: 150px;
}

.MsgInfoLogo {
    width: 25px;
    margin: 0 -5px;
    vertical-align: bottom;
}

.MsgCounter>span {
    display: inline-block;
    width: 18px;
}

.WillSendLogo {
    float: right;
    margin: -6px 0px 0 0;
    width: 40px;
}

.WillSendLogo:hover {
    transform: scale(1.1, 1.1)
}

/* Contact suggestion label*/
.ContactSuggestionLabel {
    position: absolute;
    left: 8px;
    top: 5px;
    height: 20px;
}


/* *************************************************
    Action buttons. "Send->" and "Next Round"
   ************************************************* */

.ActionButton {
    margin-top: 5px;
    margin-left: 10px;
    padding: 10px 15px;
    font-size: inherit;
    outline: none;
    color: #fff;
    background-color: #587094/* #4CAF50;*/
    ;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .5);
}


/* *************************************************
    HISTORY / Message Log
   ************************************************* */

#MsgLogWrapper {
    overflow: hidden;
    margin-left: 5px;
}

#MsgLogHeader {
    position: relative;
    margin: 0;
    padding: 10px 0;
    box-shadow: -16px 3px 5px rgba(0, 0, 0, .5);
    overflow: hidden;
    z-index: 10;
}

#MsgLog {
    overflow-y: scroll;
    background-color: lightgray;
}

#CurrentRound {
    min-height: 95%;
}

.MsgLogRoundHeader {
    margin-top: 10px;
    padding: 5px;
    background-color: #587094;
    color: white;
}

.MsgLogStage {
    font-size: 0;
}

.MsgLogStage:nth-of-type(2n + 1) {
    margin-top: 5px;
    border-top: 2px solid #587094;
}

.MsgLogReceived,
.MsgLogSent {
    display: inline-block;
    vertical-align: top;
    width: 50%;
}


/* Speech-bobles
****************************************************** */

.Msg {
    position: relative;
    font-size: initial;
    margin: 8px 16px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .5);
    z-index: 5;
}

.Msg::before,
.Msg::after {
    content: "";
    position: absolute;
    background-color: white;
}

.Msg.Received::before {
    bottom: 0;
    left: -5px;
    width: 13px;
    height: 10px;
    transform: skewX(-45deg);
    box-shadow: inherit;
}

.Msg.Received::after {
    bottom: 0;
    left: 0;
    width: 15px;
    height: 11px;
}

.Msg.Sent::before {
    top: 0;
    right: -5px;
    width: 11px;
    height: 10px;
    transform: skewX(-45deg);
    box-shadow: inherit;
}

.Msg.Sent::after {
    top: 0;
    right: 0;
    width: 15px;
    height: 15px;
}


/* Msg Headers
****************************************************** */

.MsgHeader {
    position: relative;
    overflow: auto;
    font-weight: bold;
    z-index: 9;
    margin: -5px 0px;
}

.MsgHeader>img {
    float: left;
    width: 40px;
}

.MsgHeader>div {
    float: left;
    padding-top: 8px;
}

.Sent>.MsgHeader>img {
    float: right;
}

.Received>.MsgHeader>div {
    float: right;
}


/* Msg Content
****************************************************** */

.MsgBodyFrame {
    display: none;
}

.MsgBody {
    margin-top: 10px;
    margin-bottom: 0;
}

.Msg:hover .MsgBodyFrame {
    display: initial;
}

#CurrentRound>.MsgLogStage>.MsgLogSent>.Msg>.MsgBodyFrame,
#CurrentRound>.MsgLogStage>.MsgLogReceived>.Msg>.MsgBodyFrame {
    display: initial;
}


/* *************************************************
    Dialog Window
   ************************************************* */

#DialogueWindow {
    height: 150px;
    padding: 1px 15px;
    margin: 5px 5px 5px 5px;
    border: 1px solid #888888;
    background-color: #333333;
    color: #DDFFDD;
    font-family: "Lucida Console", Monaco, monospace;
}

#DialogueWindow>p {
    display: none;
}


/* *************************************************
    Popups
   ************************************************* */

.PopupCover {
    z-index: 9001;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    text-align: center;
}

.PopupWindow {
    position: fixed;
    top: 20%;
    width: 100%;
    font-size: 32px;
    padding: 25px;
    background-color: #FFFFFF;
    text-align: center;
}

.PopupButton {
    margin: 5px;
    margin-left: 10px;
    padding: 10px 15px;
    font-size: inherit;
    outline: none;
    color: #fff;
    background-color: #587094/* #4CAF50;*/
    ;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .5);
}

.PopupButton:hover {
    transform: translateY(-1px);
    box-shadow: 0 3px 6px rgba(0, 0, 0, .5);
}

.PopupButton:active {
    filter: brightness(90%);
    transform: translateY(1px);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .5);
}

#LoginInput {
    outline: none;
    text-align: center;
    font-size: inherit;
    width: 60px;
    border: none;
    border-bottom: 1px solid #AAAAAA
}

#LoginInput::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    margin: 0;
}

#skipTutorialButton {
    display: none;
    font-size: 12px;
    cursor: default;
}


/* *************************************************
    General Stuff
   ************************************************* */

.RedBG {
    color: white;
    background-color: red;
}