html {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 12px;
}

body {
    padding-bottom: 10px;
}

p {
    margin: 8px;
}

#ConnectionStatus {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 2px 0px 5px 10px;
}

h2 {
    margin-bottom: 5px;
}

.Section {
    margin-bottom: 15px;
    border: 5px solid #000000;
    padding: 5px 5px;
}

#PlayerTable {
    text-align: center;
    padding: 10px, 10px;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: #e2e2e2
}

td,
th {
    padding: 5px 25px;
}

th {
    background-color: #555555;
    color: white;
}

.PopupOverlay {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    text-align: center;
    padding-top: 10%;
}

.Popup {
    z-index: 11;
    display: inline-block;
    padding: 45px;
    background-color: #FFFFFF;
    box-shadow: 0 3px 3px rgba(0, 0, 0, .5);
}